body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  border-radius: 6px;
  border: 1px solid #21262d; /* border color slightly darker than the background */
}

pre {
  padding: 16px;
  overflow: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: #2f363d; /* dark gray similar to GitHub Dark Mode */
  border-radius: 6px;
  border: 1px solid #21262d; /* border color slightly darker than the background */
  color: #8b949e; /* light gray text color similar to GitHub Dark Mode */
}
