.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button.Pagination-button {
  margin: 0 10px;
  padding: 5px 10px;
  width: auto;
  border: none;
  border-radius: 5px;
  background-color: #007aff;
  /* background-color: #4caf50; */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button.Pagination-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button.Pagination-button:hover {
  background-color: #0051d6;
  /* background-color: #45a049; */
}

span.Pagination-currentPage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(145deg, #282c34, #1c2025);
  box-shadow: 3px 3px 5px #111, -3px -3px 5px #383c43;
  color: #fff;
  font-size: 14px;
  /* font-weight: bold; */
  /* padding: 2px; */
}
