.SearchResults {
  padding: 20px;
  margin: auto;
  max-width: 900px;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 16px;
  color: #333;
}

.SearchResultItem {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  box-sizing: border-box;
  overflow-wrap: break-word;
  transition: box-shadow 0.3s ease;
}

.SearchResultItem:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.SearchResultItem h2 {
  margin-top: 0;
  color: #007aff;
  cursor: pointer;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.SearchResultItem p {
  white-space: pre-line;
  color: #666;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.SearchResultItem-unfold {
  cursor: pointer;
}
